.fake_logo{
    background-color: var(--black);
    margin: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.card{
    height: 300px;
}

.password-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.password-container img{
    width: 25px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%)
}

.password-container img:hover{
    background-color: #ffffff57;
    border-radius: 25px;
}
