header div{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

header div p{
    font-size: var(--lg);
    margin: 10px;
}

header div img{
    width: 50px;
}

.fake_logo{
    background-color: var(--black);
    margin: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.card{
    height: 400px;
}

.scroll-container {
    width: 400px;
    margin-right: auto;
    height: 84vh;
    overflow: auto;
}

.contacts-list li{
    background-color: var(--green);
    margin: 10px;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    display: flex;
}

.contacts-list li:hover{
    background-color: var(--very-light-green);
}

.contacts-list li img{
    width: 60px;
    border-radius: 100px;
}

.name{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 20px;
}

.chat{
    width: 100%;
    margin-top: auto;
    height: 84vh;
}

.send{
    
}

.messages-container{
    overflow: auto;
}

.messages{
    margin: 10px ;
    display: flex;
    flex-direction: column;
}

.messages li{
    display: flex;
}

.Date{
    flex: 1;
    text-align: center;
    background-color: var(--very-very-strong-green);
    width: 65px;
    border-radius: 5px;
    align-self: center;
}

.Date p{
    text-align: center;
    font-size: var(--sm);
}

.Message{
    flex: 1;
    text-align: center;
    border-radius: 5px;
}

.time{
    font-size: x-small;
    margin-top: auto;
}

.me{
    background-color: var(--green);
    margin-left: auto;
}

.other{
    background-color: var(--green);
    margin-right: auto;
}