:root {
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --white: #ffffff;
    --black: #000000;
    --very-very-strong-green: #00714d;
    --very-strong-green: #008259;
    --strong-green: #008d62;
    --green: #00986c;
    --light-green: #2ca880;
    --very-light-green: #57bd9e;
}

body{
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    background-color: var(--very-strong-green);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--green);
}

::-webkit-scrollbar-thumb {
    background-color: var(--very-very-strong-green);
    border-radius: 10px;
}


header{
    background-color: var(--strong-green);
    display: flex;
    align-items: center;
    justify-content: left;
    height: 15vh;
}

header div{
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

header div p{
    font-size: var(--lg);
    margin: 10px;
}

header div img{
    width: 50px;
}

p, h1{
    color: var(--white);
    text-align: right;
    margin: 10px;
}

a{
    margin-top: 10px;
}

.fake_logo{
    background-color: var(--black);
    margin: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.card{
    width: 300px;
    height: 400px;
    background-color: var(--green);
    border-radius: 20px;
    box-shadow: 9px 10px 11px -4px rgba(0,0,0,0.48);
    -webkit-box-shadow: 9px 10px 11px -4px rgba(0,0,0,0.48);
    -moz-box-shadow: 9px 10px 11px -4px rgba(0,0,0,0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    background-color: var(--very-light-green);
    color: var(--white);
    border-radius: 20px;
    font-size: var(--lg);
    width: 80%;
    height: 30px;
    border: 2px solid var(--very-strong-green);
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

input:focus{
    outline-color: var(--very-strong-green);
}

.style-button{
    background-color: var(--very-light-green);
    border: none;
    color: var(--white);
    border-radius: 10px;
    font-size: var(--lg);
    height: 30px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: 20px;
    width: 80%;
    -webkit-box-shadow: 5px 5px 18px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 18px -11px rgba(0,0,0,0.75);
box-shadow: 5px 5px 18px -11px rgba(0,0,0,0.75);
}

.style-button:hover{
    border: 2px solid var(--white);
}

.style-button:active{
    -webkit-box-shadow: inset 5px 5px 18px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 5px 18px -11px rgba(0,0,0,0.75);
    box-shadow: inset 5px 5px 18px -11px rgba(0,0,0,0.75);
}

.scroll-container {
    width: 400px;
    margin-right: auto;
    height: 84vh;
    overflow: auto;
}

.contacts-list li{
    background-color: var(--green);
    margin: 10px;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    display: flex;
}

.contacts-list li:hover{
    background-color: var(--very-light-green);
}

.contacts-list li img{
    width: 60px;
    border-radius: 100px;
}

.name{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 20px;
}

.chat{
    width: 100%;
    margin-top: auto;
    height: 84vh;
}

.send{
    
}

.messages-container{
    overflow: auto;
}

.messages{
    margin: 10px ;
    display: flex;
    flex-direction: column;
}

.messages li{
    display: flex;
}

.Date{
    flex: 1;
    text-align: center;
    background-color: var(--very-very-strong-green);
    width: 65px;
    border-radius: 5px;
    align-self: center;
}

.Date p{
    text-align: center;
    font-size: var(--sm);
}

.Message{
    flex: 1;
    text-align: center;
    border-radius: 5px;
}

.time{
    font-size: x-small;
    margin-top: auto;
}

.me{
    background-color: var(--green);
    margin-left: auto;
}

.other{
    background-color: var(--green);
    margin-right: auto;
}