:root {
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --white: #ffffff;
    --black: #000000;
    --very-strong-green: #008259;
    --strong-green: #008d62;
    --green: #00986c;
    --light-green: #2ca880;
    --very-light-green: #57bd9e;
}

body{
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    background-color: var(--very-strong-green);
}

header{
    background-color: var(--strong-green);
    display: flex;
    align-items: center;
    justify-content: left;
    height: 15vh;
}

p, h1{
    color: var(--white);
    text-align: right;
    margin: 10px;
}

a{
    margin-top: 10px;
}

.fake_logo{
    background-color: var(--black);
    margin: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.card{
    width: 300px;
    height: 350px;
    background-color: var(--green);
    border-radius: 20px;
    box-shadow: 9px 10px 11px -4px rgba(0,0,0,0.48);
    -webkit-box-shadow: 9px 10px 11px -4px rgba(0,0,0,0.48);
    -moz-box-shadow: 9px 10px 11px -4px rgba(0,0,0,0.48);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


input{
    background-color: var(--very-light-green);
    color: var(--white);
    border-radius: 20px;
    font-size: var(--lg);
    width: 80%;
    height: 30px;
    border: 2px solid var(--very-strong-green);
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

input:focus{
    outline-color: var(--very-strong-green);
}

.style-button{
    background-color: var(--very-light-green);
    border: none;
    color: var(--white);
    border-radius: 10px;
    font-size: var(--lg);
    height: 30px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: 20px;
    width: 80%;
    -webkit-box-shadow: 5px 5px 18px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 18px -11px rgba(0,0,0,0.75);
box-shadow: 5px 5px 18px -11px rgba(0,0,0,0.75);
}

.style-button:hover{
    border: 2px solid var(--white);
}

.style-button:active{
    -webkit-box-shadow: inset 5px 5px 18px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 5px 18px -11px rgba(0,0,0,0.75);
    box-shadow: inset 5px 5px 18px -11px rgba(0,0,0,0.75);
}

.password-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.password-container img{
    width: 25px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%)
}

.password-container img:hover{
    background-color: #ffffff57;
    border-radius: 25px;
}
